<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.my_project.telescopecontrol">

    <!--Permissions for Bluetooth access-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="false"
        >
        <!--largeHeap=true added to support the loading of the large hip catalogue-->


        <activity android:name="com.my_project.telescopecontrol.MainActivity"

            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
            <!--line abobe added for keeping the view when orientaion is changed-->
        <!--android:screenOrientation="sensorPortrait"-->

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>




</application>

</manifest>